@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);

body {

  font-family: 'Abril Fatface', cursive;
  width: 100%;
  text-align: center;

}

  .low {
    background-color: green;
  }

  .medium {
    background-color: orange;
  }

  .high {
    background-color: red;
  }

.temp_buttons {
  width: 100%;
  padding: 10px 8px 10px 8px;
  display:inline-block;
  border: 3px;
}

.power_buttons {

  padding: 10px 8px 10px 8px;

}

  .windy {
    background-image: url('img/tornado.jpg');
  }

  .not_windy {
    background-image: url('img/tumbleweed.jpg');
  }

#section_2 {
  background-color: grey;
}
